@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Xanh+Mono:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: max(100vw / 1920 * 10);
    overflow: hidden;
}

body {
	background: #171717;
	color: rgb(239, 239, 239);
	font-family: "Red Hat Text", sans-serif;
    font-weight: light;
    overflow: hidden;
}

.filter-noise {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    mix-blend-mode: exclusion;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(images/nnnoise-2.svg);
        opacity: 0.2;
    }
}

.gradient-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 59;
    pointer-events: none;
    background: rgba(51, 51, 51, 0);
    background: linear-gradient(0deg, rgb(21, 21, 21) 2%, rgba(39,39,39,0) 18%, rgba(43,43,43,0) 92%, rgba(22, 22, 22, 0.9) 100%);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: #1a1a1a;
    background: linear-gradient(140deg, rgba(9, 9, 9, 0.6) 0%, rgba(19, 19, 19, 0.5) 100%), url(images/nnnoise.svg);
}

p {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #7f90ff;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: .2s ease-in-out;
}

header-pages-item:hover {
    color: #ff7700;
}

li {
    list-style-type: none;
}

li a {
    font-size: 1.7rem;
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    mix-blend-mode: difference;
    color: #ffffff;
    z-index: 999;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
}

.header-logo {
    justify-self: start;
}

.header-pages {
    justify-self: end;
    display: inline-flex;
    width: fit-content;
    gap: 4rem;
    padding: 2rem 3rem;
    border: 1px solid #ffffff;
    border-radius: 100px;
}

@media (max-width: 1024px) {

    html {
        font-size: max(100vw / 1024 * 10);
    }

    .content, .content2, .content3, .content4 {
        width: 100vw;
        padding: 2.5rem;
        height: max-content;
        align-self: self-end;
    }

    .content3 {
        font-size: 3rem;
    }

    .artist-list-gallery-info {
        padding: 0 2rem 11rem 2rem;
    }

    #scene1 {
        display: none;
    }
}

@media (max-width: 992px) {
    html {
        font-size: max(100vw / 992 * 10);
    }
}

@media (max-width: 576px) {

    html {
        font-size: max(100vw / 576 * 10);
    }

    .artist-list-text {
        bottom: 0;
        padding: 0;
    }

    .scroll {
        display: none;
    }

    .artist-list-text {
        padding-bottom: 1rem;
    }
}