*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

:root {
    /* Fonts */
    --min-font-size: 1rem;
    --max-font-size: 2rem;
    --preferred-font-size: calc(100vw / 1920 * 0.625rem);

    /* Colors */
    --orange: #FF6D0B;
    --black: #060000;
    --white: #f9f9f9;
}

/* .gradient-white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: linear-gradient(0deg, rgba(245, 244, 244, 0.892) 8%, rgba(226, 226, 226, 0.163) 22%, rgba(226, 226, 226, 0) 98%);
} */

h1 {
  font-size: clamp(
    var(--min-font-size), 
    calc(var(--min-font-size) + var(--preferred-font-size)), 
    var(--max-font-size)
  );
}

h3 {
    font-weight: 700;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 2.23vw;
}

.artist-list h5 {
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.3em;
}

.artist-list {
    line-height: 1.1em;
}

/* .content:not(.b) h5 {
    color: var(--orange);
} */

.content a, .artist-list-gallery-action {
    color: var(--orange);
    overflow: hidden;
    line-height: 1;
    transition: all 0.2s;
}

.content.c a {
    font-weight: 700;
}

.content.b a:hover, .artist-list-gallery-action:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0.1em;
    color: var(--black);
}

.container {
    pointer-events: none;
}

.container * {
    pointer-events: auto;
}

canvas {
    display: block;
    width: 100vw;
}

#scene1-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#scene1 {
    pointer-events: none;
}

#scene2-container {
    position: relative;
    display: flex;
    z-index: 65;
}

#scene2 {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(241, 241, 241);
}

.volver {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    text-transform: uppercase;
}

.volver span {
    margin-right: 0.5em;
}

#departure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateY(-20px);
}

#central-element {
    position: absolute;
    z-index: 10;
    width: 270px;
    height: 270px;
    background: radial-gradient(circle, rgba(234, 234, 234, 0.318) 40%, rgba(229, 229, 229, 0.725) 50%, var(--orange) 100%);
    animation: planetPulse 1.5s infinite;
    transition: transform 1s cubic-bezier(0.15, 0.885, 0.62, 1);

    border-radius: 50%;
    border: 3px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(10, 10, 10, 0.2);
    transform: scale(1);
    cursor: pointer;
}

#central-element:hover {
    transform: scale(0.95);
}

#central-element:hover a {
    color: var(--orange);
}

#central-element h5 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

@keyframes planetPulse {
    0% {
        opacity: .7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .7;
    }
}

.artist-list-text {
    position: fixed;
    left: 0;
    width: max-content;
    height: max-content;
    z-index: 60;
}

.content {
    margin-right: 2rem;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding-top: 0.6rem;
    margin: 0.3rem;
}

.artist-list-text-wrapper > *:not(:first-child) {
    text-align: justify;
}

.content.c a::after {
    content: '+';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.content.c a:hover::after {
    bottom: 0;
    opacity: 1;
}

.content.c a span {
    display: inline-block;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.content.c a:hover span {
    transform: translateY(-100%);
    opacity: 0;
}

.content.c a {
    position: relative;
    display: inline-block;
}

.content.a a span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    padding-right: 1rem;
}

.content.a a:hover span {
    transform: rotateY(25deg) translateX(15px);
    transform-origin: bottom right;
}

[data-number]::before {
    content: "" attr(data-number) ". ";
    font-weight: 700;
    margin-right: .5rem;
}

img {
    filter: brightness(0.75) contrast(1.6) sepia(0.1) hue-rotate(280deg);
    transition: filter 1s;
    position: relative;
    mix-blend-mode: luminosity;
    mask-image: radial-gradient(circle, rgb(75, 168, 145) 55%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, rgb(75, 168, 145) 55%, transparent 100%);
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 5 5'%3E%3Cpath fill='%231c3fe7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    opacity: .25;
    pointer-events: none;
}

.light {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 100%);
    filter: blur(5px);
    mix-blend-mode: screen;
    pointer-events: none;
    opacity: 0.5;
}

.img-n {
    transform: scale(1.005);
    transition: transform 1.2s cubic-bezier(0.5, 0.05, 0.42, 1);
}

.img-n:hover {
    transform: scale(1.05);
}

.number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.9em 0.6em;
    z-index: 2;
    font-size: 1.5vw;
}

.descript {
    z-index: 2;
    transform: translate(25px, -55px);
    width: max-content;
    color: var(--orange);
    backdrop-filter: blur(1px);
    border-radius: 15px;
}

.artist-list {
    position: relative;
    width: 100%;
    height: 100%;
}

.artist-list-wrapper {
    width: inherit;
    height: inherit;
}

.artist-list-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.artist-list-gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;

    gap: 22dvh;
    padding-top: 0;
    padding-bottom: 2rem;

    perspective: 5500px;
    animation: rotateY 10s infinite alternate ease-in-out;
}

.artist-list-gallery-figure {
    position: relative;
    width: 28rem;
    height: 38rem;
    transform: scale(0.7);
    overflow: hidden;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid #000;
}

@keyframes rotateY {
    0% {
        transform: rotateY(15deg) scale(1);
    }
    25% {
        transform: rotateY(-15deg) scale(.995);
    }
    50% {
        transform: rotateY(20deg) scale(1);
    }
    75% {
        transform: rotateY(-15deg) scale(.995);
    }
    100% {
        transform: rotateY(15deg) scale(1);
    }
}

.artist-list-gallery-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.artist-gallery-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
    padding-top: 60vh;
    padding-bottom: 15vh;
}

.artist-list-gallery-info {
    width: 70%;
}

.artist-list-gallery-info p {
    text-align: justify;
}

.artist-list-gallery-action {
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 700;
    color: var(--black);
}

.scroll {
    position: fixed;
    writing-mode: vertical-rl;
    z-index: 3;
}

.left {
    left: 1%;
    top: 40%;
}

.right {
    right: 1.3%;
    top: 40%;
}


@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 576px) {

}