*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

:root {
    /* Sizes */
    /* Title Card */
    --min-font-title-card: 4rem;
    --max-font-title-card: 5vw;
    --preferred-font-title-card: calc(2vw - 4rem);
    /* Title Presentation */
    --min-font-title-pres: 1rem;
    --max-font-title-pres: 4.5rem;
    --preferred-font-title-pres: 3.1rem;

    /* Colors */
    --orange: #FF6D0B;
    --black: #060000;
    --white: #f9f9f9;
}

h3 {
    font-weight: 700;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 2.23vw;
}

.artist-list h5 {
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.3em;
}

.artist-list {
    line-height: 1.1em;
}

.content a, .artist-list-gallery-action {
    color: var(--orange);
    overflow: hidden;
    line-height: 1;
    transition: all 0.2s;
}

.content.b a:hover, .artist-list-gallery-action:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0.1em;
    color: var(--black);
}

.container {
    pointer-events: none;
}

.container * {
    pointer-events: auto;
}

canvas {
    display: block;
    width: 100vw;
}

#scene1-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#scene1 {
    pointer-events: none;
}

#scene2-container {
    position: relative;
    display: flex;
    z-index: 65;
    background: #FF6D0B;
    background: -webkit-linear-gradient(to top, #fbd557 5%, #FF6D0B 60%);
    background: linear-gradient(to top, #fbd557 5%, #FF6D0B 60%);
}

#scene2 {
    width: 100%;
    height: 100%;
    display: block;
    border-top: 1px solid var(--black);
}

footer {
    position: relative;
    display: flex;
    z-index: 65;
}

footer .container-fluid {
    width: 100%;
    height: 100%;
    display: block;
}

.back {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    text-transform: uppercase;
}

.back span {
    margin-right: 0.5em;
}

#departure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateY(-30px);
}

#central-element-wrapper {
    width: max-content;
    transform: scale(1);
    transition: transform 1s cubic-bezier(0.15, 0.885, 0.62, 1);
}

#central-element {
    position: relative;
    z-index: 10;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 0.3vw solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 25px rgba(208, 208, 208, 0.2);
    cursor: pointer;
    transition: background-color 0.5s;
}

#central-element-cover {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(234, 234, 234, 0) 40%, rgba(229, 229, 229, 0.097) 50%, rgb(220, 220, 220) 100%);
    animation: planetPulse 1.5s infinite;
    backdrop-filter: blur(3px);
}

#central-element-wrapper:hover {
    transform: scale(0.95);
}

#central-element:hover a {
    color: var(--orange);
    font-weight: 700;
}

#central-element:hover {
    background-color: rgb(229, 229, 229);
}

#central-element h5 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}

@keyframes planetPulse {
    0% { opacity: .1; }
    50% { opacity: 0.9; }
    100% { opacity: .1; }
}

.artist-list-text {
    position: fixed;
    left: 0;
    width: max-content;
    height: max-content;
    z-index: 60;
}

.content {
    max-width: 100%;
    word-wrap: break-word; 
    margin-right: 2rem;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding-top: 0.6rem;
    margin: 0.3rem;
    border: 2px solid var(--black);
}

.artist-list-text-wrapper > *:not(:first-child) {
    text-align: justify;
}

.content.c a::after {
    content: "+";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.content.c a:hover::after {
    bottom: 0;
    opacity: 1;
}

.content.c a span {
    display: inline-block;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.content.c a:hover span {
    transform: translateY(-100%);
    opacity: 0;
}

.content.c a {
    position: absolute;
    font-weight: 700;
    transform: translateX(3px);
}

.content.a a span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    padding-right: 1rem;
}

.content.a a:hover span {
    transform: rotateY(25deg) translateX(15px);
    transform-origin: bottom right;
}

[data-number]::before {
    content: "" attr(data-number) ". ";
    font-weight: 700;
    margin-right: .5rem;
}

img {
    filter: brightness(0.75) contrast(1.6) sepia(0.1) hue-rotate(280deg);
    transition: filter 1s;
    position: relative;
    mix-blend-mode: luminosity;
    mask-image: radial-gradient(circle, rgb(75, 168, 145) 55%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, rgb(75, 168, 145) 55%, transparent 100%);
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 5 5'%3E%3Cpath fill='%231c3fe7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    opacity: .25;
    pointer-events: none;
}

.light {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 100%);
    filter: blur(5px);
    mix-blend-mode: screen;
    pointer-events: none;
    opacity: 0.5;
}

.img-n {
    transform: scale(1.005);
    transition: transform 1.2s cubic-bezier(0.5, 0.05, 0.42, 1);
}

.img-n:hover {
    transform: scale(1.05);
}

.number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.9em 0.6em;
    z-index: 2;
    font-size: 1.5vw;
}

.number.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: clamp(var(--min-font-title-card), calc(var(--min-font-title-card) + var(--preferred-font-title-card)), var(--max-font-title-card));
    font-weight: 700;
    white-space: nowrap;
    line-height: 1em;
}

#fil-archive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.primero img {
    transform: translateY(-90px) scale(5);
}

.descript {
    z-index: 2;
    width: max-content;
    color: var(--black);
    background: var(--orange);
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1em;
    padding-top: 0.1em;
}

.artist-list {
    position: relative;
    width: 100%;
    height: 100%;
}

.artist-list-wrapper {
    width: inherit;
    height: inherit;
}

.artist-list-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.artist-list-gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 15vw;
    width: inherit;
    perspective: 5500px;
    animation: rotateY 10s infinite alternate ease-in-out;
}

.artist-list-text-wrapper:first-child {
    margin-left: 15vw;
}

.primero {
    margin-top: 50vh;
}

.artist-list-gallery-figure {
    position: relative;
    width: 33rem;
    height: 43rem;
    transform: scale(1);
    overflow: hidden;
    border-radius: 15px;
    border: 0.2vw solid var(--black);
    opacity: 0;
    transition: all 0.2s;
}

@keyframes rotateY {
    0% {
        transform: rotateY(10deg);
    }
    25% {
        transform: rotateY(-10deg);
    }
    50% {
        transform: rotateY(10deg);
    }
    75% {
        transform: rotateY(-10deg);
    }
    100% {
        transform: rotateY(10deg);
    }
}

.artist-list-gallery-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.artist-gallery-info-wrapper {
    width: min(90%, 40rem);
    padding-top: 5vh;
    padding-bottom: 50vh;
    position: relative;
}

.artist-gallery-info-wrapper img {
    position: absolute;
    width: 14vw;
    right: -11vw;
    top: 0;
    filter: none;
}

.artist-gallery-info-wrapper h2 {
    font-size: clamp(var(--min-font-title-pres), var(--preferred-font-title-pres), var(--max-font-title-pres));
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15vh;
    margin-bottom: 1vw;
    line-height: 0.85em;
    color: var(--orange);
}

.artist-list-gallery-info p {
    text-align: justify;
}

.artist-list-gallery-action {
    cursor: pointer;
    font-weight: 700;
    color: var(--black);
}

.scroll {
    position: fixed;
    writing-mode: vertical-rl;
    z-index: 3;
}

.left {
    left: 0.9rem;
    top: 40%;
}

.right {
    right: 1.1rem;
    top: 40%;
}

/* PORTADA */
.hero-badge {
    height: inherit;
    width: max(18rem, 30vw);
    line-height: 1.2em;
}

.copy {
    transform: translateX(65vw) translateY(18vh);
    font-size: 2.8vw;
    color: #e0dadc;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.hero-badge p:last-child {
    font-weight: 700;
}

.RotateOR {
    filter: saturate(1.4) brightness(1.3);
    transform: translateY(-3vh);
}

#RotateOR {
    object-fit: contain;
}

.ko {
    height: 100vh;
    width: 100vw;
    visibility: visible;
    transition: visibility 0.8s ease-in;
}

.contenido-scroll {
    height: 100vh;
    width: 100vw;
    background-color: var(--orange);
    opacity: 1;
    transition: opacity 0.6s;
}

#noice {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.contenido-scroll .wel {
    font-weight: 700;
    font-size: clamp(3rem, calc(100vw / 1920 * 284), 15rem);
    text-align: center;
    line-height: 0.85em;
    padding: 1em;
    letter-spacing: -0.03em;
    background: linear-gradient(to right, var(--orange), rgb(255, 45, 17));
    background-clip: text;
}

.recorte {
    clip-path: polygon(12% 0, 88% 0, 88% 76%, 12% 76%);
}

.initScroll-wrapper {
    width: inherit;
    height: inherit;
}

@media (max-width: 992px) {
    #RotateOR {
        transform: translateY(5vh) translateX(-2vw) scale(2);
    }
    .artist-list-gallery-wrapper {
        animation: none;
    }
}

@media (max-width: 576px) {
    .artist-list-text-wrapper .col {
        width: 100vw;
    }
    .artist-list-gallery-wrapper {
        gap: 0;
    }
}