@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Xanh+Mono:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: max(100vw / 1920 * 10);
    overflow: hidden;
}

body {
	background: #ffffff;
	color: rgb(0, 0, 0);
	font-family: "Red Hat Text", sans-serif;
    font-weight: light;
    overflow: hidden;
}

.filter-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode: exclusion;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(images/nnnoise-2.svg);
        opacity: 0.2;
    }
}

.gradient-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 59;
    pointer-events: none;
    background: linear-gradient(0deg, rgb(255, 255, 255) 18%, rgba(226, 226, 226, 0) 92%, rgba(226, 226, 226, 0.90) 98%);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: #ffffff;
    background: url(images/nnnoise.svg);
}

canvas {
    display: block;
    width: 100vw;
}

#scene1-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#scene2-container {
    position: relative;
    display: flex;
    z-index: 65;
}

#scene2 {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ffffff;
}

h1 {
    font-size: 64rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Red Hat Text";
    font-weight: 400;
}

h2 {
    font-size: 9cqw;
    flex: none;
    letter-spacing: -.077em;
    color: rgb(22, 22, 22);
    font-family: "Red Hat Text", "Xanh Mono", serif;
    font-weight: 500;
}

h3 {
    font-size: 7rem;
    font-family: "Red Hat Text", "Xanh Mono";
    font-weight: 400;
}

p {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(249, 72, 53);
    transition: .2s ease-in-out;
}

a:hover {
    color: rgb(255, 102, 71);
}

#entradas a {
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.volver {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
}

#entradas {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateY(-20px);
}

#central-element {
    position: absolute;
    z-index: 10;
    width: 240px;
    height: 240px;
    background: radial-gradient(circle, #ffffff11 50%, rgba(240, 248, 255, 0.099) 100%);
    animation: planetPulse 1.5s infinite;
    transition: transform 1s cubic-bezier(0.15, 0.885, 0.62, 1);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0 0 25px #e6e7ebc8;
    transform: scale(1);
    cursor: pointer;
}

#central-element:hover {
    transform: scale(0.9);
}

@keyframes planetPulse {
    0% {
        opacity: .8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .8;
    }
}

li {
    list-style-type: none;
}

li a {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    mix-blend-mode: difference;
    color: rgb(0, 0, 0);
    z-index: 999;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
}

.header-logo {
    justify-self: start;
}

.header-pages {
    justify-self: end;
    display: inline-flex;
    width: fit-content;
    gap: 4rem;
    padding: 2rem 3rem;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
}

.artist-list-text {
    position: fixed;
    left: 0;
    bottom: 4rem;
    padding: 1rem;
    width: max-content;
    height: max-content;
    display: flex;
    z-index: 60;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.content {
    width: auto;
    margin-right: 5rem;
    font-size: 2.2rem;
    padding: 2rem 1rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 110px;
    perspective: 800px;
}

@keyframes content {
    0% {
        opacity: 0;
        transform: translateY(50px) rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotateX(0deg);
    }
}

@keyframes h5 {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content1 {
    width: 35vw;
}
.content2 {
    width: 60vw;
}
.content3 {
    width: auto;
}
.content4 {
    width: 45vw;
}

.content p {
    font-size: 1.9rem;
    text-transform: none;
    margin-top: 1.5rem;
    color: rgb(0, 0, 0);
    opacity: 0;
    animation: content 1s ease-out forwards;
}

.content a {
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: color .2s;
    line-height: 1;
}

.content a:hover {
    color: rgb(253, 85, 60);
}

.content4 a::after {
    content: '+';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(244, 112, 55);
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.content4 a:hover::after {
    bottom: 0;
    opacity: 1;
}

.content4 a span {
    display: inline-block;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.content4 a:hover span {
    transform: translateY(-100%);
    opacity: 0;
}

.content4 a {
    position: relative;
    display: inline-block;
}

.content2 a span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    padding-right: 2rem;
}

.content2 a:hover span {
    transform: translateX(3px);
}

.content h5 {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation: h5 0.5s ease-out forwards;
    animation-delay: 1s;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
}

[data-work]::before {
    content: attr(data-work) " ";
    background-color: rgba(127, 144, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
    border-radius: 3px;
    font-weight: 400;
    padding-bottom: .1rem;
    padding-right: .1rem;
    padding-left: .3rem;
    margin-right: 1rem;
    font-size: 1.7rem;
}

[data-number]::before {
    content: "[" attr(data-number) "] ";
    font-weight: 400;
    margin-right: .5rem;
    font-size: 1.7rem;
    letter-spacing: .02rem;
}

img {
    filter: brightness(0.75) contrast(1.6) sepia(0.1) hue-rotate(280deg);
    transition: filter 1s;
    position: relative;
    opacity: .95;
    mix-blend-mode: luminosity;
    mask-image: radial-gradient(circle, rgb(75, 168, 145) 55%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, rgb(75, 168, 145) 55%, transparent 100%);
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 5 5'%3E%3Cpath fill='%231c3fe7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    opacity: .25;
    pointer-events: none;
}

.light {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 100%);
    filter: blur(5px);
    mix-blend-mode: screen;
    pointer-events: none;
    opacity: 0.5;
}

.img-n {
    transform: scale(1.005);
    transition: transform 1s ease-out;
    opacity: 0.6;
}

.img-n:hover {
    transform: scale(1);
    opacity: 1;
}

.number {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 0.7em;
    font-size: 1.7em;
    text-transform: uppercase;
    color: rgb(255, 117, 58);
    mix-blend-mode: screen;
    z-index: 2;
}

.figcaption-2 {
    font-size: 1.7em;
    opacity: .7;
    mix-blend-mode: screen;
    z-index: 2;
    transform: translate(25px, 0px);
    color: rgb(255, 98, 50);
    letter-spacing: 0.05em;
}

.figcaption-2 span {
    display: block;
}

.artist-list {
    position: relative;
    width: 100%;
    height: 100%;
}

.artist-list-wrapper {
    width: inherit;
    height: inherit;
}

.artist-list-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.artist-list-gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;

    gap: 33rem;
    padding-top: 0;
    padding-bottom: 2rem;

    perspective: 5500px;
    animation: rotateY 10s infinite alternate ease-in-out;
}

.artist-list-gallery-figure {
    position: relative;
    width: 60rem;
    height: 80em;
    transform: scale(0.7);
    overflow: hidden;
    opacity: 0;
    border-radius: 5px;
}

@keyframes rotateY {
    0% {
        transform: rotateY(15deg) scale(1);
    }
    25% {
        transform: rotateY(-15deg) scale(.995);
    }
    50% {
        transform: rotateY(20deg) scale(1);
    }
    75% {
        transform: rotateY(-15deg) scale(.995);
    }
    100% {
        transform: rotateY(15deg) scale(1);
    }
}

.artist-list-gallery-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.artist-list-gallery-info {
    text-align: left;
    padding: 0 40rem 20rem 40rem;
}

.artist-list-gallery-info p {
    margin-top: 4rem;
}

.artist-list-gallery-action {
    margin-top: 2rem;
    cursor: pointer;
    color: rgb(255, 105, 63);
    text-shadow: 0 0 20px aliceblue;
}

.scroll {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%;

    display: flex;
    justify-content: end;
    z-index: 60;
    pointer-events: none;
}

@media (max-width: 1024px) {

    html {
        font-size: max(100vw / 1024 * 10);
    }

    .content, .content2, .content3, .content4 {
        width: 100vw;
        padding: 2.5rem;
        height: max-content;
        align-self: self-end;
    }

    .content3 {
        font-size: 3rem;
    }

    .artist-list-gallery-info {
        padding: 0 2rem 11rem 2rem;
    }

    #scene1 {
        display: none;
    }
}

@media (max-width: 992px) {
    html {
        font-size: max(100vw / 992 * 10);
    }
}

@media (max-width: 576px) {

    html {
        font-size: max(100vw / 576 * 10);
    }

    .artist-list-text {
        bottom: 0;
        padding: 0;
    }

    .scroll {
        display: none;
    }

    .artist-list-text {
        padding-bottom: 1rem;
    }
}